html{
    background-image: url("img/city.jpg");
}
.content {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 5%;
    font-family: 'Dosis', sans-serif;
}
.sidebar {
    margin: 0 auto;
    height: 100%; 
    width: 160px; 
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden; 
    padding-top: 8em;
    display: none;
}
.is-active.sidebar {
    display: block;  
}
.sidebar__item {
    list-style: none;
    margin: 1.4em auto;
    font-size: 1.1em;
    color: white;
}
.sidebar__item:hover {
    color: gray;
    cursor: pointer;
}
.main-content {
    margin: 0 auto;
    margin-top: 2em;
    margin-right: 9em;
    max-width: 60%;
    padding: 1em;
    background-color: whitesmoke;
    box-shadow: 6px 6px 10px hsla(300,15%,25%,0.3) inset;
}
.icon {
    margin-top: 0.1em;
    margin-left: 2em;
    position: fixed;
    z-index: 1;
    height: 28px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation-name: icon;
    animation-duration: 3s;
}
.icon:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.icon__element {
    
    background-color: white;
    border-radius: 0.5em;
    height: 20%;
    width: 100%;
    box-shadow: 0 0.001em 0.61em -0.125em;
}


@keyframes icon {
    0% { transform: rotate(90deg);}
    100%{ transform: rotate(360deg);}
}


@media screen and (max-width: 1000px){
    .main-content{
        max-width: 60%;
        margin-right: 5em;
        margin-top: 2em;
    }
}
@media screen and (max-width: 850px){
    .main-content{
        max-width: 60%;
        margin-right: 4em;
        margin-top: 2em;
    }
}
@media screen and (max-width: 750px){
    .main-content{
        max-width: 50%;
        margin-right: 3em;
        margin-top: 2em;
    }
}
@media screen and (max-width: 700px){
    .main-content{
        max-width: 50%;
        margin-top: 2em;
        margin-right: 2em;
    }
}
@media screen and (max-width: 600px){
    .main-content{
        max-width: 50%;
        margin-top: 2em;
        margin-right: 2em;
    }
}
@media screen and (max-width: 550px){
    .main-content{
        max-width: 40%;
        margin-top: 2em;
        margin-right: 2em;
    }
}